<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="ct" id="t1">
          <div class="ct" id="t2">
            <div class="ct" id="t3">
              <div class="ct" id="t4">
                <section>
                  <ul>
                    <a href="#t1">
                      <li class="icon"><i class="fas fa-home"></i></li>
                    </a>
                    <a href="#t2">
                      <li class="icon"><i class="fas fa-film"></i></li>
                    </a>
                    <a href="#t3">
                      <li class="icon"><i class="fas fa-info"></i></li>
                    </a>
                    <a href="#t4">
                      <li class="icon"><i class="fas fa-video"></i></li>
                    </a>
                  </ul>
                  <div class="page" id="p1">
                    <li class="icon">
                      <h3>Search For a Movie</h3>
                      <form onsubmit="searchDB(this)">
                        <div class="form">
                          <label for="movieTitle">Movie Title</label>
                          <input type="text" class="form-control" id="movieTitle" aria-describedby="movietitle" placeholder="Enter movie title">
                          <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                      </form>
                    </li>
                  </div>
                  <div class="page" id="p2">
                    <li class="icon">
                      <h3>Movie Info</h3>
                      <div class="row">
                        <div class="col-6">
                          <p>Title: <b><span id="titleOfMovie"></span></b></p>
                          <p>Released: <b><span id="releasedDate"></span></b></p>
                          <p>Director: <b><span id="movieDirector"></span></b></p>
                          <p>Production: <b><span id="production"></span></b></p>
                          <p>Genre: <b><span id="genre"></span></b></p>
                        </div>
                        <div class="col-6">
                          <span><img src="" id="movieImage"></span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <div class="page" id="p3">
                    <li class="icon">
                      <h3>Movie Ratings</h3>
                      <span id="movieRatings">

                      </span>
                    </li>
                  </div>
                  <div class="page" id="p4">
                    <li class="icon">
                      <h3 id="embedVideoTitle"></h3>
                      <span id="embedVideo"></span>
                    </li>
                  </div>
                  <p class="credit">CIT Movie Database 261</p>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>


  </body>
</html>
